<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="dialect">com.enigmabridge.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:D:/db/data2.db</property>

        <!-- manage automatic database creation -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- hibernate c3p0 connection pooling configuration  -->
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.idle_test_period">60</property> <!-- seconds -->
        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.max_size">10</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.timeout">0</property> <!-- seconds -->
        <property name="hibernate.c3p0.acquireRetryAttempts">1</property>
        <property name="hibernate.c3p0.acquireRetryDelay">250</property>

        <mapping class="com.golubets.monitor.environment.model.Arduino"/>
        <mapping class="com.golubets.monitor.environment.model.DataEntity"/>
        <mapping class="com.golubets.monitor.environment.model.User"/>
        <mapping class="com.golubets.monitor.environment.model.MailSettings"/>
        <mapping class="com.golubets.monitor.environment.model.UserRole"/>

    </session-factory>
</hibernate-configuration>