<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <servlet>
        <servlet-name>srmt</servlet-name>
        <servlet-class>com.golubets.monitor.environment.web.servlet.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>srmt</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>com.golubets.monitor.environment.web.servlet.Config</listener-class>
    </listener>


    <servlet>
        <servlet-name>ErrorHandler</servlet-name>
        <servlet-class>com.golubets.monitor.environment.web.servlet.ErrorHandler</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ErrorHandler</servlet-name>
        <url-pattern>/ErrorHandler</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>java.io.IOException</exception-type >
        <location>/ErrorHandler</location>
    </error-page>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type >
        <location>/ErrorHandler</location>
    </error-page>
</web-app>